beautifulsoup4
boto3
chromadb
langchain
langchain_chroma
langchain_classic
langchain_cohere
langchain_community
langchain_core
langchain_groq
langchain_huggingface
langchain_openai
langchain_text_splitters
langgraph
langsmith
llama_cloud_services
llama_index
nest_asyncio
numpy
ollama
openai
openai_whisper
pydantic
pylate
python-dotenv
Requests
sentence_transformers
tiktoken
typing_extensions
